.subitem{
    padding-left: 20px;
}
.submenu-Shrunk{
    display: none;
}

.menu_item{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.sub_menu{
    padding-left: 20px;
}

